---
http_interactions:
- request:
    method: get
    uri: http://says-connect.dev/api/admin/v1/users?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&page=1&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"681e41aa10e7a6b43c9461a96d174e5c"'
    body:
      encoding: UTF-8
      string: '{"users":[{"id":1,"login":"nguyen","email":"nguyen@localhost.com","status":"activated","activated_at":"2014-06-04T08:19:14Z","name":"Nguyen","gender":"Male","country":"malaysia"},{"id":2,"login":"testprofile","email":"testprofile@localhost.com","status":null,"activated_at":null,"name":null,"gender":null,"country":"indonesia"}],"page":"1","per_page":"2","total_entries":6}'
      effective_url: http://says-connect.dev/api/admin/v1/users?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&page=1&per_page=2
  recorded_at: Fri, 13 Jun 2014 03:39:53 GMT
recorded_with: VCR 2.9.0
