---
http_interactions:
- request:
    method: put
    uri: http://sociable2.dev/my/api/admin/v1/cashouts/update_all?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&status=pending&update_action=verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"b607f4913eec1d8a316cac593bd4a8e8"'
    body:
      encoding: UTF-8
      string: '{"errors":[]}'
      effective_url: http://sociable2.dev/my/api/admin/v1/cashouts/update_all?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&status=pending&update_action=verify
  recorded_at: Sun, 08 Jun 2014 06:09:20 GMT
- request:
    method: get
    uri: http://sociable2.dev/my/api/admin/v1/cashouts?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3bbfaa669bbffc16e67ae65b41be4c1e"'
    body:
      encoding: UTF-8
      string: '{"cashouts":[{"id":27,"user_id":27,"name":"user KYYBALKG","email":"mai@says.my","bank_name":"MAYBANK
        BERHAD","phone_number":"0199909602","state":"verified","cashout_option":null,"request_amount":5.0,"warn":false,"reject_reason":null,"type":"CashCashout","external_name":null,"external_id":null,"identity_card":"810507035291","bank_account":"580360870084","notified":false,"batch_number":null,"partner":{},"identity_type":null,"created_at":"2014-06-08T14:06:32.000+08:00","updated_at":"2014-06-08T14:09:19.000+08:00","user_state":"activated","user_wallet":"100.0","country":"malaysia"},{"id":28,"user_id":28,"name":"user
        EXNGHJJB","email":"mai@says.my","bank_name":"MAYBANK BERHAD","phone_number":"0199909602","state":"verified","cashout_option":null,"request_amount":5.0,"warn":false,"reject_reason":null,"type":"CashCashout","external_name":null,"external_id":null,"identity_card":"810507035292","bank_account":"178208748033","notified":false,"batch_number":null,"partner":{},"identity_type":null,"created_at":"2014-06-08T14:06:33.000+08:00","updated_at":"2014-06-08T14:09:20.000+08:00","user_state":"activated","user_wallet":"100.0","country":"malaysia"}]}'
      effective_url: http://sociable2.dev/my/api/admin/v1/cashouts?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8
  recorded_at: Sun, 08 Jun 2014 06:09:20 GMT
recorded_with: VCR 2.9.0
