---
http_interactions:
- request:
    method: get
    uri: http://says-connect.dev/api/admin/v1/users?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&country=malaysia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"17675fc25a8f3d5fb5ed2ab5f54d2903"'
    body:
      encoding: UTF-8
      string: '{"users":[{"id":1,"login":"nguyen","email":"nguyen@localhost.com","status":"activated","activated_at":"2014-06-04T08:19:14Z","name":"Nguyen","gender":"Male","country":"malaysia"},{"id":3,"login":"testupdate","email":"testupdate@localhost.com","status":null,"activated_at":null,"name":null,"gender":"Male","country":"malaysia"},{"id":4,"login":"testfields","email":"testfields@localhost.com","status":null,"activated_at":null,"country":"malaysia"},{"id":5,"login":"nguyen2","email":"nguyen2@localhost.com","status":null,"activated_at":null,"name":"Nguyen
        edited","gender":"Male","country":"malaysia"},{"id":6,"login":"nguyen3","email":"nguyen3@localhost.com","status":null,"activated_at":null,"name":null,"gender":"Male","country":"malaysia"}]}'
      effective_url: http://says-connect.dev/api/admin/v1/users?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&country=malaysia
  recorded_at: Wed, 04 Jun 2014 17:11:12 GMT
recorded_with: VCR 2.9.0
