---
http_interactions:
- request:
    method: get
    uri: http://sociable2.dev/my/api/admin/v1/traffic_referrers?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&country=my&utm_source=adsite.com&extra_field=yes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bfb6f88599441422ad770a60791d54c3"'
    body:
      encoding: UTF-8
      string: '{"traffic_referrers":[{"id":1,"utm_source":"adsite.com","utm_medium":"banner","utm_campaign":"christmas","utm_content":null,"referrer":"none","signups":6,"shares":3}],"page":1,"per_page":20,"total_entries":1}'
      effective_url: http://sociable2.dev/my/api/admin/v1/traffic_referrers?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&country=my&utm_source=adsite.com&extra_field=yes
  recorded_at: Fri, 18 Jul 2014 10:20:30 GMT
recorded_with: VCR 2.9.0
