---
http_interactions:
- request:
    method: get
    uri: http://says-connect.dev/api/admin/v1/users?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&keyword=nguyen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - "\"e3c36494677c8be35c89d48828700e08\""
    body:
      encoding: UTF-8
      string: "{\"users\":[{\"id\":1,\"login\":\"updated_username\",\"email\":\"nguyen@localhost.com\",\"status\":\"activated\",\"activated_at\":\"2014-06-04T08:19:14Z\",\"name\":\"Nguyen\",\"gender\":\"Male\",\"country\":\"malaysia\"},{\"id\":5,\"login\":\"nguyen2\",\"email\":\"nguyen2@localhost.com\",\"status\":null,\"activated_at\":null,\"name\":\"Nguyen
        edited\",\"gender\":\"Male\",\"country\":\"malaysia\"},{\"id\":6,\"login\":\"nguyen3\",\"email\":\"nguyen3@localhost.com\",\"status\":null,\"activated_at\":null,\"name\":null,\"gender\":\"Male\",\"country\":\"malaysia\"}]}"
      effective_url: http://says-connect.dev/api/admin/v1/users?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&keyword=nguyen
  recorded_at: Wed, 04 Jun 2014 08:25:16 GMT
recorded_with: VCR 2.9.0
