---
http_interactions:
- request:
    method: get
    uri: http://says-connect.dev/api/admin/v1/users/1?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"e6966120889ccae0171b3b2c0b3b9e6f"'
    body:
      encoding: UTF-8
      string: '{"id":1,"login":"nguyen","email":"nguyen@localhost.com","status":"activated","created_at":"2014-03-14T08:59:33Z","updated_at":"2014-06-04T08:19:14Z","avatar_url":"http://says-connect-development.s3-website-ap-southeast-1.amazonaws.com/avatars/small_thumb.jpg","dob":"1999-03-03","gender":"Male","race":"Chinese","ident_no":"123456789012","name":"Nguyen","bank_name":"MAYBANK
        BERHAD","bank_account":"123456786544","phone_number":"12345678","city":"Johor","country_name":"malaysia"}'
      effective_url: http://says-connect.dev/api/admin/v1/users/1?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8
  recorded_at: Wed, 04 Jun 2014 17:11:12 GMT
recorded_with: VCR 2.9.0
