---
http_interactions:
- request:
    method: get
    uri: http://sociable2.dev/my/api/admin/v1/users/4/histories?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&country_code=my
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d893d053f8510c2891e7a329eca071fe"'
    body:
      encoding: UTF-8
      string: '{"histories":[{"id":11,"created_at":"2014-06-02T12:44:17.000+08:00","action_taken":"Expiry
        Reset","remarks":"Reset 1 BP and 100.0 cash to 0 at 02/06/2014","attachment_thumb_url":"/attachments/small/missing.png","attachment_url":"/attachments/original/missing.png","note":""},{"id":12,"created_at":"2014-06-02T13:08:10.000+08:00","action_taken":"Expiry
        Reset","remarks":"Reset 100 BP and 0.0 cash to 0 at 02/06/2014","attachment_thumb_url":"/attachments/small/missing.png","attachment_url":"/attachments/original/missing.png","note":""},{"id":13,"created_at":"2014-06-02T13:09:38.000+08:00","action_taken":"Expiry
        Reset","remarks":"Reset 100 BP and 0.0 cash to 0 at 02/06/2014","attachment_thumb_url":"/attachments/small/missing.png","attachment_url":"/attachments/original/missing.png","note":""},{"id":14,"created_at":"2014-06-02T13:10:01.000+08:00","action_taken":"Expiry
        Reset","remarks":"Reset 100 BP and 0.0 cash to 0 at 02/06/2014","attachment_thumb_url":"/attachments/small/missing.png","attachment_url":"/attachments/original/missing.png","note":""},{"id":15,"created_at":"2014-06-02T13:11:08.000+08:00","action_taken":"Expiry
        Reset","remarks":"Reset 100 BP and 0.0 cash to 0 at 02/06/2014","attachment_thumb_url":"/attachments/small/missing.png","attachment_url":"/attachments/original/missing.png","note":""},{"id":20,"created_at":"2014-06-02T13:15:20.000+08:00","action_taken":"Expiry
        Reset","remarks":"Reset 100 BP and 0.0 cash to 0 at 02/06/2014","attachment_thumb_url":"/attachments/small/missing.png","attachment_url":"/attachments/original/missing.png","note":""}],"page":1,"per_page":15,"total_entries":6}'
      effective_url: http://sociable2.dev/my/api/admin/v1/users/4/histories?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&country_code=my
  recorded_at: Fri, 18 Jul 2014 10:18:58 GMT
recorded_with: VCR 2.9.0
