---
http_interactions:
- request:
    method: get
    uri: http://sociable2.dev/my/api/admin/v1/users/1/transactions?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&page=1&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"9768b0e2b6bfc3f704bd50ba0ffea3af"'
    body:
      encoding: UTF-8
      string: '{"transactions":[{"id":10,"type":"CashTransaction","action_desc":"factory
        girl action description","remark":"factory girl remark","created_at":"2014-07-02T15:08:58.000+08:00","amount":"RM10,000.00"},{"id":9,"type":"CashTransaction","action_desc":"factory
        girl action description","remark":"factory girl remark","created_at":"2014-07-02T15:08:58.000+08:00","amount":"RM10,000.00"}],"page":"1","per_page":"2","total_entries":5}'
      effective_url: http://sociable2.dev/my/api/admin/v1/users/1/transactions?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&page=1&per_page=2
  recorded_at: Wed, 02 Jul 2014 07:10:26 GMT
recorded_with: VCR 2.9.0
