---
http_interactions:
- request:
    method: post
    uri: http://sociable2.dev/my/api/admin/v1/users/3/histories?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8
    body:
      encoding: US-ASCII
      string: history[user_id]=3&history[action_taken]=Sent warning email&history[remarks]=testing&history[country_code]=my
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"50677ea35e9ac83afc22acdd9746a9ee"'
    body:
      encoding: UTF-8
      string: '{"id":28,"created_at":"2014-07-21T18:47:37.826+08:00","action_taken":"Sent
        warning email","remarks":"testing","attachment_thumb_url":"/attachments/small/missing.png","attachment_url":"/attachments/original/missing.png","note":""}'
      effective_url: http://sociable2.dev/my/api/admin/v1/users/3/histories?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8
  recorded_at: Mon, 21 Jul 2014 10:47:37 GMT
recorded_with: VCR 2.9.0
