---
http_interactions:
- request:
    method: put
    uri: http://sociable2.dev/my/api/admin/v1/cashouts/1?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&update_action=verify
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"7a3f0fb9d19ea6918488ed2b9aeba244"'
    body:
      encoding: UTF-8
      string: '{"id":1,"user_id":1,"name":"Nguyen edited","email":"nguyen2@localhost.com","bank_name":"ALLIANCE
        BANK MALAYSIA BERHAD","phone_number":"1234567899","state":"verified","cashout_option":"Online
        Bank Transfer","request_amount":8.0,"warn":false,"reject_reason":null,"type":"CashCashout","external_name":null,"external_id":null,"identity_card":"890324115424","bank_account":"123456789012311","notified":false,"batch_number":null,"partner":{},"identity_type":null,"created_at":"2014-06-05T01:57:13.000+08:00","updated_at":"2014-06-05T23:49:52.177+08:00","user_state":"unactivated","user_wallet":"10000.0"}'
      effective_url: http://sociable2.dev/my/api/admin/v1/cashouts/1?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8&update_action=verify
  recorded_at: Thu, 05 Jun 2014 15:49:52 GMT
recorded_with: VCR 2.9.0
