---
http_interactions:
- request:
    method: get
    uri: http://sociable2.dev/my/api/admin/v1/users/1/transactions?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"f734510a719b8913f44f5772efbcbba5"'
    body:
      encoding: UTF-8
      string: '{"transactions":[{"id":6,"type":"CashTransaction","action_desc":"factory
        girl action description","remark":"factory girl remark","created_at":"2014-07-02T14:57:10.000+08:00","amount":"RM10,000.00"}],"page":null,"per_page":null,"total_entries":1}'
      effective_url: http://sociable2.dev/my/api/admin/v1/users/1/transactions?token=424b0d825d7966c06ee5b5d20ceb3cfdb7849a8408a91e31de7c093fef0041e8
  recorded_at: Wed, 02 Jul 2014 07:08:06 GMT
recorded_with: VCR 2.9.0
